body {
    background-image: url(../images/cloud.jpg);
    width: 100%;
    height: auto;
    
}

#title {
    text-align: center;
    margin-top: 100px;
    font-family: 'Tangerine', cursive;
    font-size: 4em;
    color: white;
}

#description {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.4em;
    color: white;
}

#survey-form {
    background-color: #bac7de;
    opacity: 0.7;
    margin: 0% 20% 1% 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.15em;
    position: relative;
    width: 50%;
    height: auto;
    justify-content: center;
}

#survey-form:after {
    content: "";
    display: block;
    padding-bottom: 3%;
}

#name {
    border: 2px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
}

#email {
    border: 2px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
}

#number {
    border: 2px solid grey;
    border-radius: 4px;
    width: 20%;
    padding: 4px;
}

#dropdown {
    border: 2px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
}

#suggestions {
    border: 2px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
}

#submit {
    border: 2px solid grey;
    border-radius: 4px;
    width: 30%;
    padding: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}